p{
    color: #3d9971;
    background-color: beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#fg{
    margin: 10px;
    box-shadow: 12px 1px 6px 2px coral;
    text-align: center;
}

li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: tomato;
}

span{
    color: cornflowerblue;
}

h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}